<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/duck_golden"
        android:label="@string/app_name"
        android:roundIcon="@drawable/duck_golden"
        android:supportsRtl="true"
        android:theme="@style/Theme.RogueDucks">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GameActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".RankingActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".CartaActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>